ExamLuglioClient/src/wsdl/localhost_8080/MovieService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://examluglioserver.mycompany.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ServiceImplService" targetNamespace="http://examluglioserver.mycompany.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://examluglioserver.mycompany.com/" elementFormDefault="unqualified" targetNamespace="http://examluglioserver.mycompany.com/" version="1.0">

  <xs:element name="getMovies" type="tns:getMovies"/>

  <xs:element name="getMoviesResponse" type="tns:getMoviesResponse"/>

  <xs:complexType name="getMovies">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getMoviesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:movie"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="movie">
    <xs:sequence>
      <xs:element minOccurs="0" name="director" type="tns:director"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
      <xs:element minOccurs="0" name="year" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="director">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="year" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getMovies">
    <wsdl:part element="tns:getMovies" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMoviesResponse">
    <wsdl:part element="tns:getMoviesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Service">
    <wsdl:operation name="getMovies">
      <wsdl:input message="tns:getMovies" name="getMovies">
    </wsdl:input>
      <wsdl:output message="tns:getMoviesResponse" name="getMoviesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceImplServiceSoapBinding" type="tns:Service">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMovies">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMovies">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMoviesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceImplService">
    <wsdl:port binding="tns:ServiceImplServiceSoapBinding" name="ServiceImplPort">
      <soap:address location="http://localhost:8080/MovieService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>